{% extends "formularios.html" %}

{% block cabecera %}
    <title>Elimina {{ whatis }}</title>
{% endblock %}

{% block formulario %}
    {% if exito == 1 %}
        <div class="info">
            <h4>Se ha eliminado el {{ whatis }} con éxito</h4>
            <h4><a href="./index.php">Volver a home</a></h4>
        </div>
    {% else %}
        <div class="info">
            <h4>Ha ocurrido algún error en la eliminación </h4>
            {% for e in errores %}
                <p>{{e}}</p>
            {% endfor %}
            <h4><a href="./index.php">Volver a home</a></h4>
        </div>
    {% endif %}
{% endblock %}