{% extends "plantilla.html" %}

{% block cabecera %}
    <title>Evento</title>
    <link rel="stylesheet" href="./css/mystyle.css">
    <link rel="stylesheet" href="./css/evento.css">
    <script type="text/javascript"  src="../java/javascript.js" defer></script>

    <!-- Obtención de palabras prohididas -->
    <script>
        var palabras_prohibidas = [];
        {% for palabra in palabras_prohibidas %}
            palabras_prohibidas.push({{ palabra | json_encode | raw }});
        {% endfor %}
    </script>

{% endblock %}

{% block contenido %}

    <!--Contenido de la página-->
    <div class = "informacion_evento">
            
        <div class = "imagen_en_evento">
            <img id='logo_evento' src   = {{ evento['logo'] }}>
        </div>

        <h2>{{ evento['nombre'] }}</h2>
        <h3>{{ evento['organizador'] }}</h3>
        <h4>Del {{ evento['fechaInicio'] }} al {{ evento['fechaFinal'] }}</h4>
        <h4>{{ evento['lugar'] }}</h4>

        <!--Informacion sobre el evento-->
        <section>
            <div class="imagen_en_evento">
                <img src={{ evento['imagen'] }} width="400">
                Imagen: Escenario principal de {{ evento['nombre'] }}
            </div>
                
            {{ evento['texto'] }}
        </section>
            
        <div class="botones">

            <!--Boton para imprimir la página-->
            <div class="boton_imprimir">
                <a href={{ evento['print'] }}>
                <img src="./img/printer.png" alt="Imprimir artículo">
                <h4>Imprimir artículo</h4>
                </a>
            </div>

            <!--Botones con enlaces a redes sociales-->
            <div class="botones_sociales">
                <div class="boton_social">
                    <a href={{ evento['web'] }}>
                        <img src="./img/web.png" alt="Web">
                        Web del evento
                    </a>
                </div>

                <div class="boton_social">
                    <a href={{ evento['twitter'] }}>
                        <img src="./img/twitter.png" alt="twitter">
                        Twitter
                    </a>
                </div>

                <div class="boton_social">
                    <a href={{ evento['instagram'] }}>
                        <img src="./img/instagram.png" alt="instagram">
                        Instagram
                    </a>
                </div>

                <div class="boton_social">
                    <a href={{ evento['facebook'] }}>
                        <img src="./img/facebook.png" alt="facebook">
                        Facebook
                    </a>
                </div>
            </div>

            <!--Botón al menú de comentarios-->
            <button id="boton_comentarios">Comentarios</button>

        </div>
        <!-- Galería de imágenes (en caso de existir) -->
        {% if galeria %}
            <div class="galeria">
                <h4>Observa la galeria de fotos de {{ evento['nombre'] }}</h4>
                {% for imagen in galeria %}
                    <img src={{ imagen }} alt={{ imagen }}>
                {% endfor %}
            </div>
        {% endif %}


        <!-- Enlaces de interés (en caso de existir) -->
        {% if enlaces %}
            <div class="enlaces_de_interes">
                <h4>Algunos enlaces de interés: </h4>
                <item>
                    {% for enlace in enlaces %}
                        <li><a href={{ enlace['link'] }}> {{ enlace['nombre'] }}</a></li>
                    {% endfor %}
                </item>
            </div>
        {% endif %}

        <!-- Etiquetas -->
        {% if evento['etiquetas'] %}
            <h4>Etiquetas: </h4>
            {{ evento['etiquetas'] }}
        {% endif %}
        
        <!-- Tareas del gestor -->
        {% if usuario %}
            {% if usuario['tipo'] == 'super' or usuario['tipo'] == 'gestor' %}
                <div class="edicion">
                    <a href="./addEvent.php">
                        <img src="./img/add.png">
                    </a>
                    <a href={{ evento['linkEdicion'] }}>
                        <img src="./img/edit.png">
                    </a>
                    <a href={{ evento['linkBorrado'] }}>
                        <img src="./img/delete.png">
                    </a>
                </div>
                <form method="POST" action="./buscarEvento.php">
                    Busca evento por palabras:
                    <input type="search" name="busqueda">
                    <button>Busca</button>
                </form>
                <form method="POST" action="./allEvents.php">
                    <button>Lista de todos los eventos</button>
                </form>
                <form method="POST" action="./addPhoto.php">
                    <input type="text" class="identificador" name="idEvento" value={{ evento['id'] }} >
                    <button>Añade alguna foto a la galería</button>
                </form>
                <form method="POST" action="addEtiqueta.php">
                    <input type="text" name="idEvento" value={{ evento['id'] }} style="display: none;">
		            <button>Modificar etiquetas</button>
                </form>
            {% endif %}
        {% endif %}


    </div>

    <!--Zona de comentarios-->
    <div id="menu_comentarios" class="menuOff">
            
        <div id="comentarios">
            <h3>Comentarios</h3>

            {% for comentario in comentarios %}
            <div class="comentario">
                <h4>{{ comentario['autor'] }}</h4>
                <h5>{{ comentario['fecha_hora'] }}</h5>
                {% if comentario['modificado'] %}
                    <strong>Comentario modificado:<br></strong>
                {% endif %}
                {{ comentario['texto'] }}<br>

                <!-- Tareas del moderador -->
                {% if usuario %}
                    {% if usuario['tipo'] == 'super' or usuario['tipo'] == 'moderador' %}
                        <div class="edicion">
                            <a href={{ comentario['linkEdicion'] }}>
                                <img src="./img/edit.png">
                            </a>

                            <!--<form id={{ comentario['id'] }} > </form> REVIEW  --> 
                            <a href={{ comentario['linkBorrado'] }}>
                                <img src="./img/delete.png">
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}

            <!-- Búsqueda y listado de todos los comentarios -->
            {% if usuario %}
                {% if usuario['tipo'] == 'super' or usuario['tipo'] == 'moderador' %}
                    <form method="POST" action="./buscarComentarios.php">
                        Busca comentario por palabras:
                        <input type="search" name="busqueda">
                        <button>Busca</button>
                    </form>
                    <a href="allComments.php">Lista de todos los comentarios</a>
                {% endif %}
            {% endif %}

        </div>

        <!--Formulario-->
        {% if usuario %}
        <form action={{ evento['linkComentario'] }} method="post">
            <div>Nombre: <input type="text" name="autor" id="input_nombre"></div>
            <div>E-mail: <input type="text" name="email_autor" id="input_email"></div>
            <div>
            Escribe aquí tu comentario:
            <input type="text" name="texto" id="input_comentario">
            </div>
            <input type="submit" value="Enviar" id="boton_enviar" />
            <div id="mensajes_error"></div>
        </form>
        {% endif %}

    </div>

{% endblock %}


