{% extends "plantilla.html" %}

{% block cabecera %}
    <title>Evento</title>
    <link rel="stylesheet" href="../css/mystyle.css">
    <link rel="stylesheet" href="../css/evento.css">
    <script type="text/javascript"  src="../java/javascript.js" defer></script>
{% endblock %}

{% block contenido %}

    <!--Contenido de la página-->
    <div class = "informacion_evento">
            
        <div class = "imagen_en_evento">
            <img src   = {{ evento['logo'] }} width = "150">
        </div>

        <h2>{{ evento['nombre'] }}</h2>
        <h3>{{ evento['organizador'] }}</h3>
        <h4>{{ evento['fecha'] }}</h4>
        <h4>{{ evento['lugar'] }}</h4>

        <!--Informacion sobre el evento-->
        <section>
            <div class="imagen_en_evento">
                <img src={{ evento['imagen'] }} width="400">
                Imagen: Escenario principal de {{ evento['nombre'] }}
            </div>
                
            {{ evento['texto'] }}
        </section>
            
        <div class="botones">

            <!--Boton para imprimir la página-->
            <div class="boton_imprimir">
                <a href="../evento.php?imp=1">
                <img src="../img/printer.png" alt="Imprimir artículo">
                <h4>Imprimir artículo</h4>
                </a>
            </div>

            <!--Botones con enlaces a redes sociales-->
            <div class="botones_sociales">
                <div class="boton_social">
                    <a href={{ evento['web'] }}>
                        <img src="../img/web.png" alt="Web">
                        Web del evento
                    </a>
                </div>

                <div class="boton_social">
                    <a href={{ evento['twitter'] }}>
                        <img src="../img/twitter.png" alt="twitter">
                        Twitter
                    </a>
                </div>

                <div class="boton_social">
                    <a href={{ evento['instagram'] }}>
                        <img src="../img/instagram.png" alt="instagram">
                        Instagram
                    </a>
                </div>

                <div class="boton_social">
                    <a href={{ evento['facebook'] }}>
                        <img src="../img/facebook.png" alt="facebook">
                        Facebook
                    </a>
                </div>
            </div>

            <!--Botón al menú de comentarios-->
            <button id="boton_comentarios">Comentarios</button>
        </div>
    </div>

    <!--Zona de comentarios-->
    <div id="menu_comentarios" class="menuOff">
            
        <div id="comentarios">
            <h3>Comentarios</h3>

            {% for comentario in comentarios %}
            <div class="comentario">
                <h4>{{ comentario['autor'] }}</h4>
                <h5>{{ comentario['fecha_hora'] }}</h5>
                {{ comentario['texto'] }}
            </div>
            {% endfor %}

        </div>

        <!--Formulario-->
        <form>
            <div>Nombre: <input type="text" id="input_nombre"></div>
            <div>E-mail: <input type="text" id="input_email"></div>
            <div>
            Escribe aquí tu comentario:
            <input type="text" id="input_comentario">
            </div>
            <button type="button" id="boton_enviar">Enviar</button>
            <div id="mensajes_error"></div>
        </form>

    </div>

{% endblock %}


