{% extends "formularios.html" %}

{% block cabecera %}
    <title>Inicia Sesión</title>
{% endblock %}

{% block formulario %}

    {% if exito == 1 %}
        <div class="info">
            <h4>¡Bienvenido de nuevo!</h4> 
            <p><a href="./index.php">Volver a Home</a></p>
        </div>
    {% elseif exito == -1 %}
        <div class="info">
            <h4>Ha ocurrido un error</h4>
            {% for e in errores %}
                {{e}}
            {% endfor %}

            <a href="./login.php">Volver a intentarlo</a>
            <a href="./index.php">Volver a Home</a> 
        </div>
    {% else %}
        <form action="login.php" method="post">
            Nickname: <input type="text" name="nickname" /><br>
            Contraseña: <input type="password" name="clave" /><br>
            <input type="submit" value="Log In" />
        </form>
    {% endif %}

{% endblock %}