{% extends "formularios.html" %}

{% block cabecera %}
    <title>Editar Usuario</title>
{% endblock %}

{% block formulario %}
    {% if exito == 1 %}
        Se ha actualizado la información con éxito.

        <a href="./index.php">Volver a home</a>
    {% elseif exito == -1 %}
        Ha ocurrido un error al actualizar la información.

        <a href="./index.php">Volver a home</a>

    {% else %}
        {% if usuario %}
        <form action="modifyUser.php" method="post">
        Nickname: {{ usuario['nickname'] }}<br><br>
        Nombre: <input type="text" name="nombreNuevo" value={{ usuario['nombre'] }} /><br>
        Email: <input type="text" name="emailNuevo" value={{ usuario['email'] }} /><br>
        Contraseña: <input type="password" name="claveNueva" /><br>
        <input type="submit" value="Editar" />
        </form>
        {% else %}
            ERROR! NO SE HA ENCONTRADO USUARIO
        {% endif %}
    {% endif %}
{% endblock %}