<!DOCTYPE html>
<html lang="es">

    <!--Cabecera y metadatos-->
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Juan Antonio V.R.">
        <link rel="shortcut icon" href="./img/logo.png">
        {% block cabecera %}

        {% endblock %}
    </head>

    <!--Cuerpo de toda la página-->
    <body class="fondo">

        <!--Cabecera-->
        <header>
            <div class="logo">
            <a href="./index.php"><img src="./img/logo.png"></a>
            </div>

            <div class="titulo">
            <h1>Nombre del sitio</h1>
            </div>

            <!-- Log In -->
            <div class="login">

                {% if usuario %}
                    <p>¡Hola <strong>{{ usuario['nickname'] }}!</strong></p>
                    <p>Tu rol es <strong>{{ usuario['tipo'] }}</strong></p>
                    <div class="log_out">
                        <a href="./logout.php">
                            <img src="./img/log-out.png">
                            Cerrar Sesión
                        </a>
                    </div>
                {% else %}
                    <a href="./login.php">
                        <img src="./img/log-in.png">
                        Inicia Sesión
                    </a>
                {% endif %}
            </div>
        </header>
        
        <!--Menu de la cabecera-->
        <nav>
            <div class="opcion_menu"><a href="#">Menu 1</a></div>
            <div class="opcion_menu"><a href="#">Menu 2</a></div>
            <div class="opcion_menu"><a href="#">Menu 3</a></div>
        </nav>
        
        <!-- Cuerpo -->
        <div class="cuerpo">

            <!-- Barra lateral -->
            <aside>
                <div class="opcion_menu"><a href="#">Link 1</a></div>
                <div class="opcion_menu"><a href="#">Link 2</a></div>
                <div class="opcion_menu"><a href="#">Link 3</a></div>
            </aside>

            <!-- Contenido de la página -->
            {% block contenido %}

            {% endblock %}
                
            
        </div>

        <!--Pie de pagina-->
        <footer>
            <img src="./img/logo.png">
            <div>
            <h3> © Juan Antonio Villegas Recio</h3>
            </div>
            <div class="boton_social">
                <a href="https://github.com/JAntonioVR/">
                    <img src="./img/github-white.png" alt="Mi github">
                    Github: JAntonioVR
                </a>
            </div>
        </footer>

    </body>
</html>
