{% extends "plantilla.html" %}

{% block cabecera %}
    <title>Portada</title>
    <link rel="stylesheet" href="../css/mystyle.css">
    <link rel="stylesheet" href="../css/portada.css">
{% endblock %}

{% block contenido %}

    <!-- Contenido de la página -->
    <article>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
            
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>
        
        <div class="foto_y_nombre_de_festival">
            <a href="../evento.php">
                <img class="foto_festival" src="../img/medusa.jpg">
                Evento
            </a>
        </div>

    </article>

{% endblock %}
